* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body, html {
    height: 100%;
    overflow-x: hidden;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000 ;
}

  /* Navbar */
  .navbar-brand img.logo{
    width: 250px;
    height: auto;
  }

.nav-link.nav-logo{
    font-size: 19px;
}

 .navbar.fixed-top.bg-light{
      background-color: rgba(0, 0, 0, 0.1)!important;

  } 

.navbar-toggler {
    color: rgba(0,0,0,.55);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: #fff;
}

.container-hero-image{
    height: 100%;
}

.hero-image{
    background-image:  url("../img/foto_membri.jpeg");

    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-title{
    margin-bottom: 48px;
    margin-top:72px;
}

.container-title h1{
    color: #2F2F2F;
    text-align:center;
    font-family: 'Fredoka', sans-serif;
    text-transform: uppercase;
    font-size:42px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.container.container-text{
    text-align: center;
}

.container.container-text .text-description{
    font-size:18px;
    line-height: 34px;
}

.card{
    background-color: rgba(174, 174, 174, 0.1) ;
    border: 0;
    border-radius: 10px;
}

.card-title{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #000 ;
}

.card .btn-primary{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.card-body{
    padding:30px;
    padding-top:20px;
    padding-bottom:20px
}

.swiper.cosaoffriamo {
    width: 100%;
    height: 500px;
    margin-top:40px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-fluid.swiper-cosaoffriamo-container{
      padding:0
  }

  .swiper-slide img.img-gallery-cosaoffriamo{
      background-position: center;
      background-size: cover;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev{
      background-color: #fff;
      padding:30px;
      border-radius: 50%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    background-color: #fff;
    padding:30px;
    border-radius: 50%;
  }

.swiper-button-next {
    background-image: url('../img/next.svg');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: 60%;
  }
  
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev {
    background-image: url('../img/prev.svg');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position:40%;
  }
  
  .swiper-button-prev::after {
    display: none;
  }

  .container-tributi-img{
      width:100%;
      height:400px;
      background-position: center;
      background-size: cover;
      background-image: url('../img/citta_di_davide.png');
      margin-bottom:40px
  }

